@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
   --color-main : #103178;
   --color-highlight:#ffc800;
   --color-text : #5b6c8f;

   --bg-one:#f0f2f5;
   --font : 'Inria Serif', serif;
}

body{
   font-family: var(--font);
}
a {
   text-decoration: none;
}
/* container */
.container{
   max-width: 1140px;
   margin-left: auto;
   margin-right: auto;
}

/* end container */

/* button */
.button{
   background: gray;
   color: #fff;
   display: inline-block;
   padding :10px 30px;
   border-radius: 45px;
   font-size: 18px;
   border: 2px solid gray;
   cursor: pointer;
}
.button:hover{
   color: gray;
   background: #fff;
}
.button-highlight {
   background: var(--color-highlight);
   color: #fff;
   border-color: var(--color-highlight);
   transition: all 0.5s;
}
.button-highlight:hover{
   color: var(--color-highlight);
   background: #fff;
   font-size:20px ;
}
.button-main {
   background: var(--color-main);
   color: #fff;
   transition: all 0.5s;
   margin-top: 10px;
}

.button-main:hover {
   color: var(--color-main)!important;
   background: #fff;
   font-size: 20px;
}
.button-green {
   background: green;
   color: #fff;
   transition: all 0.5s;
   margin-top: 10px;
   border-color: green;
}

.button-green:hover {
   color: green !important;
   background: #fff;
   font-size: 20px;
}
.button-email{
   background: #fff ;
   color: var(--color-main);
   font-weight: 600;
   transition: all 0.5s;
}
.button-email:hover{
   background: var(--color-main);
   color: #fff;
}
/* end button */
/* color */
.color-main{
 color: var(--color-main) !important;
}
.color-highlight{
   color: var(--color-highlight) !important;
}
/* Box head */
.box-head{
   margin-bottom: 30px;
   max-width: 600px;
}
.box-head .inner-title{
   font-size: 46px;
   font-weight: 600;
   color: var(--color-main);
}
.box-head.inner-center{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
.box-head.inner-small .inner-title {
   font-size: 36px;
}
.box-head .inner-desc{
   font-size: 22px;
   color: var(--color-text);
   margin-top: 10px;
}