.header {
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
      width: 100%;
         top: 0;
         z-index: 1000;
         position: fixed;
}


.header .inner-top {
   background: var(--color-main);
   text-align: center;
   color: var(--color-highlight);
   padding: 6px 10px;
   font-size: 18.7px;

}
.header .inner-main {
   background: #fff;
}
.header .inner-wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

}

.header .inner-logo a {
   display: inline-flex;
   align-items: center;
}

.header .inner-logo img {
   height: 50px;
}

.header .inner-logo span {
   font-size: 24px;
   font-weight: 600;
   color: var(--color-main);
   margin-left: 5px;
}

.header .inner-menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}

.header .inner-menu ul li {
   margin: 0 15px;
}

.header .inner-menu ul li a {
   color: var(--color-main);
   font-size: 18.7px;
   font-weight: bold;
   padding: 0 15px;
   height: 70px;
   display: inline-flex;
   justify-items: center;
   align-items: center;
}

.header .inner-menu ul li a:hover {
   color: #47b5ed;
}

.header .inner-contact {
   font-size: 18px;
   color: var(--color-text);
}

.header .inner-social ul {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;

}

.header .inner-social ul li {
   margin-left: 25px;
}

.header .inner-social ul li a {
   font-size: 25px;
   color: var(--color-main);
   margin-right: 10px;
}

/* End header */

/* section-one */
.section-one {
   background: var(--bg-one);
   padding: 80px 0;
   margin-top: 70px;
}

.section-one .inner-wrap {
   display: flex;
   flex-wrap: wrap;
}

.section-one .inner-content {
   width: 50%;
}

.section-one .inner-desc {
   font-size: 32.8px;
   color: var(--color-main);
   margin-bottom: 25px;
}

.section-one .inner-title {
   font-size: 64px;
   color: var(--color-main);
   margin-top: 0;
   margin-bottom: 34px;
}

.section-one .inner-list {
   display: flex;
   margin-bottom: 20px;
}

.section-one .inner-item {
   width: 50%;
   color: var(--color-text);
   margin: 10px 0;
}

.section-one .inner-item i {
   font-size: 20px;
}

.section-one .inner-item span {
   margin-left: 5px;
   font-size: 18px;
}

.section-one .inner-image {
   width: 50%;
   position: relative;
}

.section-one .inner-image img {
   width: 100%;
   height: auto;
}

.section-one .inner-sale {
   background: var(--color-highlight);
   color: var(--color-main);
   display: inline-flex;
   width: 140px;
   height: 140px;
   border-radius: 50%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-weight: 600;
   position: absolute;
   top: 0;
   right: 15%;
}

.section-one .inner-sale span:nth-child(1) {
   font-size: 28px;
}

.section-one .inner-sale span:nth-child(2) {
   font-size: 48px;
}

/* end section-one */
.section-two{
   padding: 60px 0;
}
.section-two .inner-wrap{
   flex-wrap: wrap;
   display: flex;
   justify-content: space-between;
}
.section-two .inner-item {
   width: calc(100%/3 - 60px/3);
   position: relative;
   aspect-ratio: 4/3;
   overflow: hidden;
}
.section-two .inner-item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.6s;
}
.section-two .inner-item:hover img{
   transform: scale(1.1);
}

.section-two .inner-item .inner-content{
   position: absolute;
   top: 0;
   left: 0;
   padding: 20px;
}
.section-two .inner-item .inner-tag{
   background: green;
   display: inline-block;
   padding: 4px 10px;
   color: #fff;
   border-radius: 45px;
   margin-bottom: 15px;
}
.section-two .inner-content .inner-title{
   font-size: 34px;
   color: #fff;
   font-weight: 600;
   margin-bottom: 10px;
}

.section-two .inner-item .inner-discount{
   font-size: 48px;
   margin-bottom: 30px;
   font-weight: 700;
}
.section-two .inner-item .inner-price-new{
   font-size: 42px;
   font-weight: 700;
}
.section-two .inner-item .inner-price-old {
   font-size: 24px;
   margin-bottom: 10px;
   font-weight: 500;
   color: gray;
   text-decoration: line-through;
}

/* Section-three */
.section-three{
   background: var(--bg-one);
   padding: 60px 0;
}
.section-three .inner-wrap {
   display: flex;
   justify-content: space-between;
}
.section-three .inner-item{
   text-align: center;
}
.section-three .inner-item i {
   font-size: 40px;
   color: var(--color-text);
   margin-bottom: 20px;
}
.section-three .inner-item .inner-title{
   font-size: 24px;
   font-weight: 600;
   color: var(--color-main);
   margin-bottom: 10px;
}
.section-three .inner-item .inner-desc {
   font-size: 18px;
   color: var(--color-text);
}
/* End Section-three */

/* Section four */
.section-four{
   padding: 90px 0;
}
.section-four .inner-item{
   width: 50%;
}
.section-four .inner-wrap{
   display: flex;
   justify-content: space-between;
}
.section-four .inner-title{
   font-size: 64px;
   color: var(--color-main);
   font-weight: 700;
   margin-bottom: 40px;
   padding-top: 50px;
}
.section-four .inner-desc{
   font-size: 24px;
   color: var(--color-main);
   padding-right: 50px;
   margin-bottom: 30px;
}
.section-four .inner-image{
   width: 50%;
}
.section-four .inner-image img{
   width: 100%;
   height: auto;
   object-fit: cover;
}
/* End section four */

/* sectione five  */
.section-five{
   background: var(--bg-one);
   padding: 60px 0;
}
.section-five .inner-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 40px;
   background: url("../images/background23.jpg");
   background-size: cover;
   background-position: center;

}
.section-five .inner-content{
   font-size: 18px;
   color: #fff;
   font-weight: 600;
}
.section-five .inner-content i{
   font-size: 24px;
   margin-right: 10px;
}
/* end section five  */
/* secion six */
.section-six{
   padding: 60px 0;
}
.section-six .inner-wrap{
   display: flex;
   flex-wrap: wrap;
}
.section-six .inner-item{
   width: calc(20% - 10px/4);
   border: 1px solid #ddd;
}
.section-six .inner-item .inner-image{
   width: 100%;
   aspect-ratio: 1/1;
   overflow: hidden;
}

.section-six .inner-item .inner-image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition:  all 0.6s;
}
.section-six .inner-item .inner-image:hover img {
   transform: scale(1.1);
}
.section-six .inner-item .inner-content{
   padding: 25px 15px;
}
.section-six .inner-item .inner-title {
   font-size: 18px;
   color: var(--color-main);
   margin-bottom: 10px;
}
.section-six .inner-item .inner-price{
   font-size: 20px;
   font-weight: 600;
   color: var(--color-main);
   margin-bottom: 10px;
}
.section-six .inner-item .inner-star{
   font-size: 14px;
   color: rgb(231, 231, 47);
}
/* end section six  */

/* section seven */
.section-seven{
   padding: 80px 0;
   background: var(--bg-one);
}
.section-seven .inner-form{
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 600px;
   margin: 0 auto;
}
.section-seven .inner-form .inner-input{
   background: #fff;
   border: 0;
   height: 48px;
   border-radius: 45px;
   margin-right: 10px;
   padding:0 20px;
   flex: 1;
   outline: none;
}
/* end section seven */
.section-eight{
   padding: 60px 0;
}
.section-eight .inner-video{
   aspect-ratio: 16/9;
   overflow: hidden;
   position: relative;
}
.section-eight .inner-video .inner-image{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.section-eight .inner-video .inner-content{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
} 
.section-eight .inner-video .inner-play{
   background: #fff;
   color: var(--color-main);
   height: 80px;
   width: 80px;
   font-size: 40px;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.section-eight .inner-video .inner-play i{
   margin-left : 5px;
}
.section-eight .inner-video .button-play:hover .inner-play{
   background: rgb(16 49 120);
   color: #fff;
}

.section-nine{
   padding: 90px 0;
   background: var(--bg-one);
}
.section-nine .inner-wrap{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.section-nine .inner-item{
   width: calc(25% - 350px/4);
   background: #fff;
   color: var(--color-main);
   font-size: 18px;
   padding: 34px;
   font-weight: 500;
   line-height:28px ;
}
.section-nine .inner-item .inner-content{
   margin-bottom: 20px;
}
.section-nine .inner-item .inner-name{
   margin-bottom: 20px;
   font-weight: 700;
}
.section-ten{
   padding: 80px 0;
}
.section-ten .inner-wrap{
   display: flex;
   justify-content: space-between;
}
.section-ten .inner-content{
   width: 40%;
   padding: 20px 30px 30px 30px;
   height: auto;
}
.section-ten .inner-content .inner-title{
   margin-bottom: 30px;
}
.section-ten hr{
   color: #ddd;
   box-sizing: content-box;
   padding-right: 30px;
   margin: 20px 10px 20px 0;
}
.section-ten .inner-map{
   width: 60%;
   height: auto;
}
.section-ten .inner-map iframe{
   width: 100%;
   height: 100%;
}
.section-ten .button-email{
   margin: 30px 0;
   border-color: #ddd;
}

.section-eleven{
   padding: 60px 0;
   background: var(--color-main);
}
.section-eleven .inner-wrap{
   width: 80%;
   display: flex;
   color: #fff;
   justify-content: space-between;
}
.section-eleven .inner-item{
   padding-left:10px ;
   line-height: 40px;
   font-size: 20px;
}
.footer{
   padding: 40px 0;
}
.footer .inner-wrap{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: auto;
}
.footer .inner-content{
   font-size: 18px;
   color: var(--color-main);
   line-height: 1.7rem;
   padding: 0 ;
}
.footer .inner-pay{
   width: auto;
   display: flex;
   justify-content: flex-end;
}
.footer .inner-item img{
  width: 40px;
  height: 100%;
  object-fit: cover;
  margin: 0 0.3rem;
  box-sizing: border-box;
  border-radius: 5px;
}
.footer .inner-pay .last-item img{
   padding: 0;
}